/* screen - egyptian-2 */

.egyptian-2 {
  align-items: flex-start;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 4416px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1600px;
}
.egyptian-2 .cooking-y0eQTV {
  align-self: flex-end;
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  min-height: 33px;
  min-width: 105px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 105px;
}
.egyptian-2 .culture-connect-1-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 110px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 140px;
}
.egyptian-2 .egyptian-0PZcXW {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 155px;
  min-height: 96px;
  min-width: 543px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 543px;
}
.egyptian-2 .falafel-ATEpp4 {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 12px;
  min-height: 61px;
  min-width: 802px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 802px;
}
.egyptian-2 .flex-col-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 547px;
  position: absolute;
  top: 0px;
  width: 996px;
}
.egyptian-2 .flex-col-Xi618D {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 35px;
  margin-top: 60px;
  min-height: 44px;
  position: relative;
  width: 114px;
}
.egyptian-2 .flex-col-dXBp89 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 383px;
  position: relative;
  width: 637px;
}
.egyptian-2 .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 410px;
  justify-content: flex-start;
  min-width: 1600px;
  position: relative;
  width: auto;
}
.egyptian-2 .flex-row-qUdiio {
  align-items: flex-end;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 62px;
  justify-content: flex-start;
  margin-top: 180px;
  min-width: 818px;
  position: relative;
  width: auto;
}
.egyptian-2 .forum-dXBp89 {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 44px;
  margin-top: 60px;
  min-height: 33px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 84px;
}
.egyptian-2 .group-18-iQaBfH {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 134px;
  position: absolute;
  top: 55px;
  width: 102px;
}
.egyptian-2 .group-19-iQaBfH {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 0px;
  position: absolute;
  top: 55px;
  width: 121px;
}
.egyptian-2 .group-20-iQaBfH {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 249px;
  position: absolute;
  top: 55px;
  width: 121px;
}
.egyptian-2 .home-dXBp89 {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 64px;
  margin-top: 60px;
  min-height: 33px;
  min-width: 80px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  width: 80px;
}
.egyptian-2 .home-dXBp89:hover {

transform: scale(1.1);
}
.egyptian-2 .ingredients-1-1-oon-lemon-juice-4a9k2Y {
  background-color: transparent;
  height: auto;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 110px;
  width: 929px;
}
.egyptian-2 .ingredients-mix-for-20-minutes-4a9k2Y {
  background-color: transparent;
  height: auto;
  left: 151px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1033px;
  width: 845px;
}
.egyptian-2 .learn-new-recipes-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 98px;
  margin-top: 0px;
  min-height: 22px;
  min-width: 221px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 221px;
}
.egyptian-2 .line-2-y0eQTV {
  background-color: transparent;
  flex-shrink: 1;
  height: 3px;
  margin-top: 7px;
  position: relative;
  width: 103px;
}
.egyptian-2 .line-3-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  margin-left: 16px;
  margin-top: 55px;
  position: relative;
  width: 2px;
}
.egyptian-2 .line-6-ATEpp4 {
  background-color: transparent;
  flex-shrink: 1;
  height: 62px;
  position: relative;
  width: 3px;
}
.egyptian-2 .log-in-aCpxd9 {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: 84px;
}
.egyptian-2 .log-out-fcVkHF {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 121px;
}
.egyptian-2 .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1197px;
  margin-top: 105px;
  position: relative;
  width: 1600px;
}
.egyptian-2 .overlap-group1-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 399px;
  margin-left: 20px;
  position: relative;
  width: 389px;
}
.egyptian-2 .overlap-group2-C61RwL {
  align-self: center;
  background-color: transparent;
  flex-shrink: 1;
  height: 1993px;
  margin-right: 25.0px;
  margin-top: 120px;
  position: relative;
  width: 1145px;
}
.egyptian-2 .rectangle-2-AeFxih {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 118px;
}
.egyptian-2 .rectangle-2-aCpxd9 {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100px;
}
.egyptian-2 .rectangle-2-fcVkHF {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 118px;
}
.egyptian-2 .rectangle-89-4eduM0 {
  background-color: transparent;
  height: 570px;
  left: 225px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 627px;
  width: 1066px;
}
.egyptian-2 .rectangle-96-4a9k2Y {
  background-color: var(--desert-storm);
  border-radius: 66px;
  box-shadow: 0px 5px 10px #00000040;
  height: 870px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1129px;
}
.egyptian-2 .rectangle-97-4a9k2Y {
  background-color: var(--desert-storm);
  border-radius: 66px;
  box-shadow: 0px 5px 10px #00000040;
  height: 1063px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 930px;
  width: 1144px;
}
.egyptian-2 .sign-up-AeFxih {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 121px;
}
.egyptian-2 .skills-dXBp89 {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 45px;
  margin-top: 60px;
  min-height: 33px;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 69px;
}
.egyptian-2 .span0-0VmB5D {

}
.egyptian-2 .span0-Z2UYDB {

}
.egyptian-2 .span1-0VmB5D {

}
.egyptian-2 .span1-Z2UYDB {

}
.egyptian-2 .vector-1-iQaBfH {
  background-color: transparent;
  height: 399px;
  left: 113px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 276px;
}
.egyptian-2 .vector-14-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 445px;
  margin-top: 146px;
  mix-blend-mode: normal;
  position: relative;
  width: 1523px;
}
.egyptian-2 .vector-2-qUdiio {
  background-color: transparent;
  flex-shrink: 1;
  height: 305px;
  mix-blend-mode: normal;
  position: relative;
  width: 786px;
}
.egyptian-2 .vector-7-4eduM0 {
  background-color: transparent;
  height: 561px;
  left: 1015px;
  mix-blend-mode: normal;
  position: absolute;
  top: 305px;
  width: 585px;
}
