/* screen - greek-forum */

.greek-forum {
  background-color: var(--white);
  height: 3983px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1600px;
}
.greek-forum .cooking-dXBp89 {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: 11.0px;
  margin-left: 36px;
  min-height: 33px;
  min-width: 105px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 105px;
}
.greek-forum .culture-connect-1-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 110px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 140px;
}
.greek-forum .flex-col-dXBp89 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 0.5px;
  margin-left: 33px;
  min-height: 44px;
  position: relative;
  width: 103px;
}
.greek-forum .flex-row-C61RwL {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 110px;
  justify-content: flex-start;
  left: 0px;
  min-width: 1190px;
  position: absolute;
  top: 27px;
  width: auto;
}
.greek-forum .forum-0PZcXW {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 3.0px;
  min-height: 33px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 84px;
}
.greek-forum .greek-C61RwL {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 292px;
  width: 543px;
}
.greek-forum .group-18-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 1345px;
  position: absolute;
  top: 55px;
  width: 102px;
}
.greek-forum .group-19-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 1211px;
  position: absolute;
  top: 55px;
  width: 121px;
}
.greek-forum .group-20-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 1460px;
  position: absolute;
  top: 55px;
  width: 121px;
}
.greek-forum .home-dXBp89 {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: 11.0px;
  margin-left: 561px;
  min-height: 33px;
  min-width: 80px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  width: 80px;
}
.greek-forum .home-dXBp89:hover {

transform: scale(1.1);
}
.greek-forum .line-2-0PZcXW {
  background-color: transparent;
  flex-shrink: 1;
  height: 3px;
  margin-top: 7px;
  position: relative;
  width: 103px;
}
.greek-forum .line-3-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  margin-bottom: 12.0px;
  margin-left: 16px;
  position: relative;
  width: 2px;
}
.greek-forum .log-in-0xverS {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: 84px;
}
.greek-forum .log-out-IE4p6q {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 121px;
}
.greek-forum .rectangle-2-0xverS {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100px;
}
.greek-forum .rectangle-2-IE4p6q {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 118px;
}
.greek-forum .rectangle-2-ebBR7z {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 118px;
}
.greek-forum .rectangle-98-C61RwL {
  background-color: var(--mist-gray);
  height: 422px;
  left: 582px;
  mix-blend-mode: normal;
  position: absolute;
  top: 245px;
  width: 1000px;
}
.greek-forum .share-your-experience-C61RwL {
  background-color: transparent;
  height: auto;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 388px;
  width: 245px;
}
.greek-forum .sign-up-ebBR7z {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 121px;
}
.greek-forum .skills-dXBp89 {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-bottom: 11.0px;
  margin-left: 45px;
  min-height: 33px;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 69px;
}
.greek-forum .vector-1-C61RwL {
  background-color: transparent;
  height: 399px;
  left: 1324px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 276px;
}
.greek-forum .vector-2-C61RwL {
  background-color: transparent;
  height: 305px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 515px;
  width: 786px;
}
.greek-forum .vector-3-C61RwL {
  background-color: transparent;
  height: 238px;
  left: 577px;
  mix-blend-mode: normal;
  position: absolute;
  top: 581px;
  width: 1023px;
}
.greek-forum .vector-4-C61RwL {
  background-color: transparent;
  height: 238px;
  left: 577px;
  mix-blend-mode: normal;
  position: absolute;
  top: 581px;
  width: 911px;
}
