/* screen - indian-1 */

.indian-1 {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 4085px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1600px;
}
.indian-1 .bollywood-dance-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 235px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 969px;
  width: 802px;
}
.indian-1 .bollywood-dance-s-and-movements-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 255px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1044px;
  width: 938px;
}
.indian-1 .cooking-FSLMJj {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 44px;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 105px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 105px;
}
.indian-1 .culture-connect-1-BVP5wq {
  background-color: transparent;
  flex-shrink: 1;
  height: 110px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 140px;
}
.indian-1 .embroidery-BdpSxK {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 11px;
  min-height: 61px;
  min-width: 802px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 802px;
}
.indian-1 .embroidery-is-t-hed-on-a-fabric-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: 63.0px;
  margin-top: 14px;
  min-height: 110px;
  min-width: 995px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 995px;
}
.indian-1 .flex-col-BVP5wq {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 5.5px;
  margin-left: 561px;
  min-height: 48px;
  position: relative;
  width: 489px;
}
.indian-1 .flex-row-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 110px;
  justify-content: flex-start;
  left: 0px;
  min-width: 1190px;
  position: absolute;
  top: 27px;
  width: auto;
}
.indian-1 .flex-row-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 70px;
  justify-content: flex-start;
  margin-right: 342.5px;
  margin-top: 139px;
  min-width: 817px;
  position: relative;
  width: auto;
}
.indian-1 .flex-row-VMr6Om {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 70px;
  justify-content: flex-start;
  margin-right: 342.5px;
  margin-top: 148px;
  min-width: 817px;
  position: relative;
  width: auto;
}
.indian-1 .flex-row-rVpU9B {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 42px;
  justify-content: flex-start;
  min-width: 489px;
  position: relative;
  width: auto;
}
.indian-1 .forum-FSLMJj {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 44px;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 84px;
}
.indian-1 .group-18-4eduM0 {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 1345px;
  position: absolute;
  top: 55px;
  width: 102px;
}
.indian-1 .group-19-4eduM0 {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 1211px;
  position: absolute;
  top: 55px;
  width: 121px;
}
.indian-1 .group-20-4eduM0 {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 1460px;
  position: absolute;
  top: 55px;
  width: 121px;
}
.indian-1 .harmonium-dXBp89 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 11px;
  min-height: 61px;
  min-width: 802px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 802px;
}
.indian-1 .home-FSLMJj {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 80px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  width: 80px;
}
.indian-1 .home-FSLMJj:hover {

transform: scale(1.1);
}
.indian-1 .indian-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 292px;
  width: 543px;
}
.indian-1 .learn-more-about-the-culture-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 388px;
  width: 221px;
}
.indian-1 .line-2-rVpU9B {
  background-color: transparent;
  flex-shrink: 1;
  height: 3px;
  margin-right: 29.0px;
  margin-top: 3px;
  position: relative;
  width: 103px;
}
.indian-1 .line-3-FSLMJj {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  margin-left: 16px;
  position: relative;
  width: 2px;
}
.indian-1 .line-6-4eduM0 {
  background-color: transparent;
  height: 62px;
  left: 220px;
  position: absolute;
  top: 961px;
  width: 3px;
}
.indian-1 .line-7-dXBp89 {
  background-color: transparent;
  flex-shrink: 1;
  height: 62px;
  position: relative;
  width: 3px;
}
.indian-1 .line-8-BdpSxK {
  background-color: transparent;
  flex-shrink: 1;
  height: 62px;
  position: relative;
  width: 3px;
}
.indian-1 .log-in-ulG7hq {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: 84px;
}
.indian-1 .log-out-Gr60HI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 121px;
}
.indian-1 .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1780px;
  position: relative;
  width: 1600px;
}
.indian-1 .overlap-group1-C61RwL {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  height: 935px;
  margin-left: -0.0px;
  margin-top: 69px;
  position: relative;
  width: 1361px;
}
.indian-1 .rectangle-2-Gr60HI {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 118px;
}
.indian-1 .rectangle-2-ulG7hq {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100px;
}
.indian-1 .rectangle-2-xPfyMe {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 118px;
}
.indian-1 .rectangle-40-4eduM0 {
  background-color: transparent;
  height: 557px;
  left: 255px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 1223px;
  width: 1090px;
}
.indian-1 .rectangle-41-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 557px;
  margin-left: 32.0px;
  margin-top: 69px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  width: 1090px;
}
.indian-1 .rectangle-42-RH0WJ5 {
  background-color: transparent;
  height: 557px;
  left: 271px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1090px;
}
.indian-1 .rectangle-98-4eduM0 {
  background-color: var(--mist-gray);
  height: 422px;
  left: 584px;
  mix-blend-mode: normal;
  position: absolute;
  top: 245px;
  width: 987px;
}
.indian-1 .sign-up-xPfyMe {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 121px;
}
.indian-1 .skills-FSLMJj {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 45px;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 69px;
}
.indian-1 .the-harmonium-i-the-reed-organ-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: 63.0px;
  margin-top: 14px;
  min-height: 110px;
  min-width: 995px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 995px;
}
.indian-1 .vector-1-4eduM0 {
  background-color: transparent;
  height: 399px;
  left: 1324px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 276px;
}
.indian-1 .vector-11-RH0WJ5 {
  background-color: transparent;
  height: 560px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 375px;
  width: 585px;
}
.indian-1 .vector-2-4eduM0 {
  background-color: transparent;
  height: 305px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 515px;
  width: 786px;
}
.indian-1 .vector-3-4eduM0 {
  background-color: transparent;
  height: 238px;
  left: 577px;
  mix-blend-mode: normal;
  position: absolute;
  top: 581px;
  width: 1023px;
}
.indian-1 .vector-4-4eduM0 {
  background-color: transparent;
  height: 238px;
  left: 580px;
  mix-blend-mode: normal;
  position: absolute;
  top: 581px;
  width: 911px;
}
.indian-1 .vector-7-4eduM0 {
  background-color: transparent;
  height: 561px;
  left: 1015px;
  mix-blend-mode: normal;
  position: absolute;
  top: 819px;
  width: 585px;
}
