/* screen - iranian-recipe */

.iranian-recipe {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 5125px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1600px;
}
.iranian-recipe .cooking-e2rjrs {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 44px;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 105px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 105px;
}
.iranian-recipe .culture-connect-1-qOxrzu {
  background-color: transparent;
  flex-shrink: 1;
  height: 110px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 140px;
}
.iranian-recipe .flex-col-qOxrzu {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 5.5px;
  margin-left: 561px;
  min-height: 48px;
  position: relative;
  width: 489px;
}
.iranian-recipe .flex-row-4F9G3j {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 42px;
  justify-content: flex-start;
  min-width: 489px;
  position: relative;
  width: auto;
}
.iranian-recipe .flex-row-4eduM0 {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 62px;
  justify-content: flex-start;
  left: 178px;
  min-width: 818px;
  position: absolute;
  top: 1000px;
  width: auto;
}
.iranian-recipe .flex-row-BJQsbv {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 110px;
  justify-content: flex-start;
  left: 0px;
  min-width: 1190px;
  position: absolute;
  top: 27px;
  width: auto;
}
.iranian-recipe .forum-e2rjrs {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 44px;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 84px;
}
.iranian-recipe .group-18-4eduM0 {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 1345px;
  position: absolute;
  top: 55px;
  width: 102px;
}
.iranian-recipe .group-19-4eduM0 {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 1211px;
  position: absolute;
  top: 55px;
  width: 121px;
}
.iranian-recipe .group-20-4eduM0 {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 1460px;
  position: absolute;
  top: 55px;
  width: 121px;
}
.iranian-recipe .group-91-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/vector-3-6@1x.svg);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 238px;
  justify-content: flex-start;
  left: 577px;
  min-width: 1023px;
  padding: 0 2.9px;
  position: absolute;
  top: 581px;
  width: auto;
}
.iranian-recipe .home-e2rjrs {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 80px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  width: 80px;
}
.iranian-recipe .home-e2rjrs:hover {

transform: scale(1.1);
}
.iranian-recipe .ingredients-5-t-hopped-optional-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 110px;
  width: 1119px;
}
.iranian-recipe .iranian-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 292px;
  width: 543px;
}
.iranian-recipe .kuku-sabzi-pers-an-baked-omelet-BVP5wq {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 12px;
  min-height: 61px;
  min-width: 802px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 802px;
}
.iranian-recipe .learn-new-recipes-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 388px;
  width: 221px;
}
.iranian-recipe .line-2-4F9G3j {
  background-color: transparent;
  flex-shrink: 1;
  height: 3px;
  margin-right: 29.0px;
  margin-top: 3px;
  position: relative;
  width: 103px;
}
.iranian-recipe .line-3-e2rjrs {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  margin-left: 16px;
  position: relative;
  width: 2px;
}
.iranian-recipe .line-6-BVP5wq {
  background-color: transparent;
  flex-shrink: 1;
  height: 62px;
  position: relative;
  width: 3px;
}
.iranian-recipe .log-in-ulG7hq {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: 84px;
}
.iranian-recipe .log-out-Gr60HI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 121px;
}
.iranian-recipe .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1710px;
  position: relative;
  width: 1600px;
}
.iranian-recipe .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1011px;
  margin-left: 39.0px;
  margin-top: 122px;
  position: relative;
  width: 1209px;
}
.iranian-recipe .overlap-group2-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1723px;
  margin-right: 14.0px;
  margin-top: 134px;
  position: relative;
  width: 1156px;
}
.iranian-recipe .position-an-ove-with-kuku-sabzi-4a9k2Y {
  background-color: transparent;
  height: auto;
  left: 139px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 102px;
  width: 881px;
}
.iranian-recipe .rectangle-2-Gr60HI {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 118px;
}
.iranian-recipe .rectangle-2-ulG7hq {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100px;
}
.iranian-recipe .rectangle-2-xPfyMe {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 118px;
}
.iranian-recipe .rectangle-89-4eduM0 {
  background-color: transparent;
  height: 570px;
  left: 258px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1140px;
  width: 1066px;
}
.iranian-recipe .rectangle-96-RH0WJ5 {
  background-color: var(--desert-storm);
  border-radius: 66px;
  box-shadow: 0px 5px 10px #00000040;
  height: 1011px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1118px;
}
.iranian-recipe .rectangle-97-4a9k2Y {
  background-color: var(--desert-storm);
  border-radius: 66px;
  box-shadow: 0px 5px 10px #00000040;
  height: 1723px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1156px;
}
.iranian-recipe .rectangle-98-4eduM0 {
  background-color: var(--mist-gray);
  height: 422px;
  left: 635px;
  mix-blend-mode: normal;
  position: absolute;
  top: 245px;
  width: 948px;
}
.iranian-recipe .sign-up-xPfyMe {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 121px;
}
.iranian-recipe .skills-e2rjrs {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 45px;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 69px;
}
.iranian-recipe .span0-EPBkp6 {

}
.iranian-recipe .span1-EPBkp6 {

}
.iranian-recipe .span2-EPBkp6 {

}
.iranian-recipe .span3-EPBkp6 {

}
.iranian-recipe .vector-1-4eduM0 {
  background-color: transparent;
  height: 399px;
  left: 1324px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 276px;
}
.iranian-recipe .vector-14-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 382px;
  margin-left: 1.0px;
  margin-top: 43px;
  mix-blend-mode: normal;
  position: relative;
  width: 1523px;
}
.iranian-recipe .vector-2-4eduM0 {
  background-color: transparent;
  height: 305px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 515px;
  width: 786px;
}
.iranian-recipe .vector-4-fxyx1r {
  background-color: transparent;
  flex-shrink: 1;
  height: 238px;
  mix-blend-mode: normal;
  position: relative;
  width: 911px;
}
.iranian-recipe .vector-7-4eduM0 {
  background-color: transparent;
  height: 561px;
  left: 1015px;
  mix-blend-mode: normal;
  position: absolute;
  top: 819px;
  width: 585px;
}
