/* screen - israeli-1 */

.israeli-1 {
  background-color: var(--white);
  height: 2259px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1600px;
}
.israeli-1 .canoe-design-is-and-livelihood-C61RwL {
  background-color: transparent;
  height: auto;
  left: 256px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1044px;
  width: 938px;
}
.israeli-1 .cooking-NvvWoh {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 44px;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 105px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 105px;
}
.israeli-1 .culture-connect-1-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: 110px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 140px;
}
.israeli-1 .flex-col-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 0px;
  min-height: 383px;
  position: absolute;
  top: 27px;
  width: 637px;
}
.israeli-1 .flex-col-VMr6Om {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 701px;
  min-height: 48px;
  position: absolute;
  top: 55px;
  width: 489px;
}
.israeli-1 .flex-row-lcFreP {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 42px;
  justify-content: flex-start;
  min-width: 489px;
  position: relative;
  width: auto;
}
.israeli-1 .forum-NvvWoh {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 44px;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 84px;
}
.israeli-1 .group-18-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 1345px;
  position: absolute;
  top: 55px;
  width: 102px;
}
.israeli-1 .group-19-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 1211px;
  position: absolute;
  top: 55px;
  width: 121px;
}
.israeli-1 .group-20-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 1460px;
  position: absolute;
  top: 55px;
  width: 121px;
}
.israeli-1 .group-89-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/vector-3-11@1x.svg);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 238px;
  justify-content: flex-start;
  left: 577px;
  min-width: 1023px;
  padding: 0 2.9px;
  position: absolute;
  top: 581px;
  width: auto;
}
.israeli-1 .home-NvvWoh {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 80px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  width: 80px;
}
.israeli-1 .home-NvvWoh:hover {

transform: scale(1.1);
}
.israeli-1 .israeli-0xy0vn {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 155px;
  min-height: 96px;
  min-width: 543px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 543px;
}
.israeli-1 .judaism-C61RwL {
  background-color: transparent;
  height: auto;
  left: 233px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 955px;
  width: 802px;
}
.israeli-1 .learn-more-about-the-culture-0xy0vn {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 98px;
  margin-top: 0px;
  min-height: 22px;
  min-width: 221px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 221px;
}
.israeli-1 .line-2-lcFreP {
  background-color: transparent;
  flex-shrink: 1;
  height: 3px;
  margin-right: 29.0px;
  margin-top: 3px;
  position: relative;
  width: 103px;
}
.israeli-1 .line-3-NvvWoh {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  margin-left: 16px;
  position: relative;
  width: 2px;
}
.israeli-1 .line-6-C61RwL {
  background-color: transparent;
  height: 62px;
  left: 201px;
  position: absolute;
  top: 954px;
  width: 3px;
}
.israeli-1 .log-in-0xverS {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: 84px;
}
.israeli-1 .log-out-IE4p6q {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 121px;
}
.israeli-1 .rectangle-2-0xverS {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100px;
}
.israeli-1 .rectangle-2-IE4p6q {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 118px;
}
.israeli-1 .rectangle-2-ebBR7z {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 118px;
}
.israeli-1 .rectangle-40-C61RwL {
  background-color: transparent;
  height: 557px;
  left: 255px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 1258px;
  width: 1090px;
}
.israeli-1 .rectangle-98-C61RwL {
  background-color: var(--mist-gray);
  height: 422px;
  left: 701px;
  mix-blend-mode: normal;
  position: absolute;
  top: 245px;
  width: 870px;
}
.israeli-1 .sign-up-ebBR7z {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 121px;
}
.israeli-1 .skills-NvvWoh {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 45px;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 69px;
}
.israeli-1 .vector-1-C61RwL {
  background-color: transparent;
  height: 399px;
  left: 1324px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 276px;
}
.israeli-1 .vector-11-C61RwL {
  background-color: transparent;
  height: 560px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1699px;
  width: 585px;
}
.israeli-1 .vector-2-C61RwL {
  background-color: transparent;
  height: 305px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 515px;
  width: 786px;
}
.israeli-1 .vector-4-5brNdF {
  background-color: transparent;
  flex-shrink: 1;
  height: 238px;
  mix-blend-mode: normal;
  position: relative;
  width: 911px;
}
.israeli-1 .vector-7-C61RwL {
  background-color: transparent;
  height: 561px;
  left: 1015px;
  mix-blend-mode: normal;
  position: absolute;
  top: 819px;
  width: 585px;
}
