/* screen - kenyan-recipe */

.kenyan-recipe {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  min-height: 4067px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1600px;
}
.kenyan-recipe .boerewors-qOxrzu {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 12px;
  min-height: 61px;
  min-width: 802px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 802px;
}
.kenyan-recipe .cooking-FSLMJj {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 44px;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 105px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 105px;
}
.kenyan-recipe .culture-connect-1-BVP5wq {
  background-color: transparent;
  flex-shrink: 1;
  height: 110px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 140px;
}
.kenyan-recipe .flex-col-BVP5wq {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 5.5px;
  margin-left: 561px;
  min-height: 48px;
  position: relative;
  width: 489px;
}
.kenyan-recipe .flex-row-4eduM0 {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 110px;
  justify-content: flex-start;
  left: 0px;
  min-width: 1190px;
  position: absolute;
  top: 27px;
  width: auto;
}
.kenyan-recipe .flex-row-BJQsbv {
  align-items: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 62px;
  justify-content: flex-start;
  left: 178px;
  min-width: 818px;
  position: absolute;
  top: 1000px;
  width: auto;
}
.kenyan-recipe .flex-row-rVpU9B {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 42px;
  justify-content: flex-start;
  min-width: 489px;
  position: relative;
  width: auto;
}
.kenyan-recipe .forum-FSLMJj {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 44px;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 84px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 84px;
}
.kenyan-recipe .group-18-4eduM0 {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 1345px;
  position: absolute;
  top: 55px;
  width: 102px;
}
.kenyan-recipe .group-19-4eduM0 {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 1211px;
  position: absolute;
  top: 55px;
  width: 121px;
}
.kenyan-recipe .group-20-4eduM0 {
  background-color: transparent;
  cursor: pointer;
  height: 45px;
  left: 1460px;
  position: absolute;
  top: 55px;
  width: 121px;
}
.kenyan-recipe .group-88-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/vector-3-12@1x.svg);
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 238px;
  justify-content: flex-start;
  left: 577px;
  min-width: 1023px;
  padding: 0 2.9px;
  position: absolute;
  top: 581px;
  width: auto;
}
.kenyan-recipe .home-FSLMJj {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 80px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: relative;
  text-align: left;
  transition: all 0.2s ease;
  width: 80px;
}
.kenyan-recipe .home-FSLMJj:hover {

transform: scale(1.1);
}
.kenyan-recipe .ingredients-15-sausage-casings-RH0WJ5 {
  background-color: transparent;
  height: auto;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 110px;
  width: 929px;
}
.kenyan-recipe .instructions-pl-or-under-stuff-4a9k2Y {
  background-color: transparent;
  height: auto;
  left: 160px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 91px;
  width: 816px;
}
.kenyan-recipe .kenyan-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 94px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 292px;
  width: 543px;
}
.kenyan-recipe .learn-new-recipes-4eduM0 {
  background-color: transparent;
  height: auto;
  left: 98px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 388px;
  width: 221px;
}
.kenyan-recipe .line-2-rVpU9B {
  background-color: transparent;
  flex-shrink: 1;
  height: 3px;
  margin-right: 29.0px;
  margin-top: 3px;
  position: relative;
  width: 103px;
}
.kenyan-recipe .line-3-FSLMJj {
  background-color: transparent;
  flex-shrink: 1;
  height: 42px;
  margin-left: 16px;
  position: relative;
  width: 2px;
}
.kenyan-recipe .line-6-qOxrzu {
  background-color: transparent;
  flex-shrink: 1;
  height: 62px;
  position: relative;
  width: 3px;
}
.kenyan-recipe .log-in-ulG7hq {
  background-color: transparent;
  height: auto;
  left: 17px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 5px;
  width: 84px;
}
.kenyan-recipe .log-out-Gr60HI {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 121px;
}
.kenyan-recipe .overlap-group-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 1712px;
  position: relative;
  width: 1600px;
}
.kenyan-recipe .overlap-group1-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 957px;
  margin-right: 41.0px;
  margin-top: 120px;
  position: relative;
  width: 1129px;
}
.kenyan-recipe .overlap-group2-C61RwL {
  background-color: transparent;
  flex-shrink: 1;
  height: 812px;
  margin-right: 41.0px;
  margin-top: 0px;
  position: relative;
  width: 1155px;
}
.kenyan-recipe .rectangle-2-Gr60HI {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 118px;
}
.kenyan-recipe .rectangle-2-ulG7hq {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100px;
}
.kenyan-recipe .rectangle-2-xPfyMe {
  background-color: var(--ogre-odor);
  border-radius: 6px;
  height: 45px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 118px;
}
.kenyan-recipe .rectangle-89-4eduM0 {
  background-color: transparent;
  height: 570px;
  left: 225px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1142px;
  width: 1066px;
}
.kenyan-recipe .rectangle-96-RH0WJ5 {
  background-color: var(--desert-storm);
  border-radius: 66px;
  box-shadow: 0px 5px 10px #00000040;
  height: 870px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1129px;
}
.kenyan-recipe .rectangle-97-4a9k2Y {
  background-color: var(--desert-storm);
  border-radius: 66px;
  box-shadow: 0px 5px 10px #00000040;
  height: 812px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1155px;
}
.kenyan-recipe .rectangle-98-4eduM0 {
  background-color: var(--mist-gray);
  height: 422px;
  left: 528px;
  mix-blend-mode: normal;
  position: absolute;
  top: 245px;
  width: 1017px;
}
.kenyan-recipe .sign-up-xPfyMe {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 121px;
}
.kenyan-recipe .skills-FSLMJj {
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 45px;
  margin-top: 1.0px;
  min-height: 33px;
  min-width: 69px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 69px;
}
.kenyan-recipe .span0-VYUZhu {

}
.kenyan-recipe .span0-nGb6q2 {

}
.kenyan-recipe .span1-VYUZhu {

}
.kenyan-recipe .span1-nGb6q2 {

}
.kenyan-recipe .vector-1-4eduM0 {
  background-color: transparent;
  height: 399px;
  left: 1324px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 276px;
}
.kenyan-recipe .vector-14-C61RwL {
  align-self: flex-start;
  background-color: transparent;
  flex-shrink: 1;
  height: 439px;
  margin-left: 19px;
  margin-top: 27px;
  mix-blend-mode: normal;
  position: relative;
  width: 1523px;
}
.kenyan-recipe .vector-2-4eduM0 {
  background-color: transparent;
  height: 305px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 515px;
  width: 786px;
}
.kenyan-recipe .vector-4-K8H2xh {
  background-color: transparent;
  flex-shrink: 1;
  height: 238px;
  mix-blend-mode: normal;
  position: relative;
  width: 911px;
}
.kenyan-recipe .vector-7-4eduM0 {
  background-color: transparent;
  height: 561px;
  left: 1015px;
  mix-blend-mode: normal;
  position: absolute;
  top: 820px;
  width: 585px;
}
